<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gk.company.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.gk.company.model.User">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="nickname" property="nickname" jdbcType="VARCHAR" />
        <result column="username" property="username" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="salt" property="salt" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="avatar" property="avatar" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="findUserByName"  resultMap="BaseResultMap">
        select t.* from t_user t where t.nickname=#{nickname,jdbcType=VARCHAR}
    </select>
    <insert id="insertUser" parameterType="com.gk.company.param.request.RequestUser" >
        insert into t_user set nickname= #{nickname,jdbcType=VARCHAR},password=#{password,jdbcType=VARCHAR},
        salt=#{salt,jdbcType=VARCHAR},create_time=NOW(),update_time=NOW()
    </insert>

</mapper> 